@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
.card__code, .card__feedback, .card__price {
  font-size: 11px;
  line-height: 13px; }

.navigation__link, .card__name {
  font-size: 12px;
  line-height: 15px;
  color: #000;
  text-decoration: none;
  font-weight: 500; }

.card__button-link {
  font-size: 14px;
  line-height: 16px; }

.card__amount {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 50px; }
  .header__logo {
    width: 40px;
    height: 40px; }

.card__code, .card__feedback, .card__price {
  font-size: 11px;
  line-height: 13px; }

.navigation__link, .card__name {
  font-size: 12px;
  line-height: 15px;
  color: #000;
  text-decoration: none;
  font-weight: 500; }

.card__button-link {
  font-size: 14px;
  line-height: 16px; }

.card__amount {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0; }

.navigation {
  margin: 0;
  padding: 0; }
  .navigation__item {
    display: inline-block;
    position: relative;
    margin-right: 20px; }
  .navigation__link {
    text-transform: uppercase;
    display: inline-block;
    padding-top: 22.5px;
    padding-bottom: 22.5px; }
    .navigation__link:hover {
      color: #00acdc; }
  .navigation :last-child {
    margin-right: 0; }

.navigation__link.is-active {
  color: #00acdc; }
  .navigation__link.is-active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #00acdc;
    bottom: 0;
    right: 0;
    border-radius: 8px; }

.card__code, .card__feedback, .card__price {
  font-size: 11px;
  line-height: 13px; }

.navigation__link, .card__name {
  font-size: 12px;
  line-height: 15px;
  color: #000;
  text-decoration: none;
  font-weight: 500; }

.card__button-link {
  font-size: 14px;
  line-height: 16px; }

.card__amount {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.card {
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 29px 14px 14px; }
  .card__img {
    height: 134px;
    width: 160px;
    margin: 1px 5px 41px; }
  .card__name {
    display: block;
    margin-bottom: 5px; }
  .card__code {
    display: block;
    margin-bottom: 15px; }
  .card__stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .card__feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .card__price {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.card__stars .card__star {
  background: url(../images/star.svg) no-repeat center;
  width: 15px;
  height: 15px;
  margin-right: 4px; }

.stars--5 .card__star,
.stars--4 .card__star:nth-child(-n+4),
.stars--3 .card__star:nth-child(-n+3),
.stars--2 .card__star:nth-child(-n+2),
.stars--1 .card__star:nth-child(1) {
  background-image: url(../images/star-active.svg); }

.card__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #00acdc;
  height: 40px;
  background: #00acdc;
  border-radius: 5px; }
  .card__button-link {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 11px 56px 10px 57px; }
    .card__button-link:hover {
      color: #00acdc; }
  .card__button:hover {
    background: #fff; }

p,
h2,
body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 51px; }

@media screen and (min-width: 1024px) and (max-width: 1202px) {
  .row {
    width: 944px; } }

@media screen and (max-width: 900px) and (min-width: 300px) {
  .header {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .navigation__item {
    display: block;
    width: 100%; }
  .logo {
    display: block;
    width: 100%; }
  .row {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .card {
    margin: auto; } }

/*# sourceMappingURL=main.css.map */
